<div class="container">
  <div class="show-container">
    <div class="box-shadow show-description">
      <div class="booking-description text-center">
        <h3 class="text-center">Your trip to <strong class="booked-place"><%= @booking.place.name %></strong> - <%= @booking.place.continent %> is confirmed!</h3>
          <p>
            <strong>Dates: </strong>Check in on <%=
            @booking.check_in %> for a <%= (@booking.check_out.to_time.to_i - @booking.check_in.to_time.to_i)/86400 %> days stay.
          </p>
          <p>
            <strong>Total: </strong> €<%=  (@booking.check_out.to_time.to_i - @booking.check_in.to_time.to_i)/86400 * @booking.place.price%>
          </p>
          <p><em>Have a wonderful trip to <%= @booking.place.continent %> and make sure to come back soon! You can receive exclusive offers by subscribing to our email newsletter. This will enable us to bombard you with spam emails and also sell your data to shady companies on offshore islands...</em></p>
        </div>
      <div class="booking-buttons text-center">
        <ul class="list-inline">
          <li><%= link_to 'Cancel Booking', booking_path(@booking), method: :delete, class: 'btn-ghost btn-opacity' %></li>
          <li><%= link_to 'Change Booking', edit_booking_path(@booking), class: 'btn-ghost btn-opacity' %></li>
          <li><%= link_to 'All Your Bookings', dashboard_path(current_user), class: 'btn-primary' %></li>
        </ul>
      </div>
      <div class="show-image" style="background-image: url(<%= @booking.place.photo%> ) "></div>
    </div>
  </div>
</div>

