<div class="col-sm-offset-1 col-sm-6">
  <div class="card-booking">
    <!-- for cloud  -->
  <%= cl_image_tag( booking.place.photo, class: 'booking-img' ) %>

    <div class="card-booking-infos">
      <h2><%= booking.place.name %></h2>
      <p>Check-In : <%= booking.check_in %></p>
      <p>Check-Out : <%= booking.check_out %></p>
    </div>
    <div class="card-booking-button text-right">
    <ul class="list-unstyled list-inline">
      <li><%= link_to 'Cancel Booking', booking_path(booking), method: :delete, class: 'btn-ghost btn-dashboard' %></li>
      <li><%= link_to 'Change Booking', edit_booking_path(booking), class: 'btn-ghost btn-dashboard' %></li>
    </ul>
    </div>
  </div>
</div>
