<div class="show-container">
  <div class="show-description text-center">
    <h3><%= @place.name %></h3>
    <p><%= @place.continent %></p>
    <p><%= @place.level_of_remoteness %><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
    <p>description of the place</p>
    <%= render 'shared/form' %>
  </div>
  <div class="show-image" style="background-image: url(<%= @place.photo%> ) ">
    <div class="show-icon"><i class="far fa-heart"></i></div>
  </div>
</div>


<div class="container">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id dicta dolores beatae alias esse, aliquam, iusto perspiciatis animi ducimus, ex est reiciendis maxime repellat ea praesentium accusamus nisi tenetur velit placeat magni veniam fugiat sunt enim cupiditate. Debitis distinctio iste commodi sapiente fugiat voluptatem possimus quasi quos eligendi nam accusantium, obcaecati similique, nesciunt excepturi facilis laborum quae iusto autem odit quaerat reiciendis voluptate dolorem culpa quam itaque. Dignissimos quam, numquam veniam. Quaerat voluptate odit illum atque sunt id a vitae natus sit labore voluptatem numquam vel debitis asperiores ipsum impedit, cum eligendi deleniti reiciendis. Voluptates eveniet perferendis, maiores adipisci molestiae.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, voluptate magni odio dolores nulla rem, at corporis excepturi recusandae enim sint similique alias molestiae libero veniam aliquid dolorum molestias nihil aut, velit doloribus sequi eaque deleniti sed! Rem assumenda ad quaerat sit doloribus minus harum quia tenetur. Laboriosam sequi ex, nesciunt eveniet alias accusamus quia excepturi voluptate a incidunt porro corrupti eaque fugiat corporis necessitatibus aliquam minus dolore quas repellendus maxime cum aperiam nam, in. Nisi saepe velit, quisquam animi illum doloribus atque perferendis pariatur delectus maiores dolore sunt libero excepturi eveniet culpa! Accusantium rerum nisi tenetur ex cumque quam illum natus praesentium architecto quidem maxime libero, consectetur eos, fugiat distinctio quos odio, ad repudiandae. Nesciunt temporibus nemo quia velit fuga vel natus adipisci, a ab facere qui iusto quaerat itaque minus ducimus quam eius tenetur deleniti, quidem sint maxime. Nisi aliquam, perspiciatis doloribus quam accusamus blanditiis delectus mollitia, sed voluptas ratione alias incidunt molestiae cupiditate explicabo ipsa architecto ducimus nulla molestias doloremque sunt eaque! Sequi modi unde doloribus, mollitia distinctio dolorem odit ducimus ab iste nesciunt. Fuga similique ea pariatur porro consequatur quis. Molestiae soluta vero et explicabo, nostrum placeat suscipit ab?</p>
</div>


